@import 'reset';
@import 'background';
@import 'footer';
@import 'input';


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-column-gap: 50px;
  margin: 2em auto;
  max-width: 1000px;
}

.decimalToBinary {
  background: rgba(255, 255, 255, 1.0);
  width: 475px;
  height: 300px;
  float: center;
}

.binaryToDecimal {
  background: rgba(255, 255, 255, 1.0);
  width: 475px;
  height: 300px;
}

img {
  width: 100%;
  border-radius: 5px;
}

h1 {
    font-family: Courier, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 10px;
  margin-top: 10px;
}

main {
  background-color: #fff;
  box-sizing: border-box;
  margin: 2em auto;
  padding: 2em;
  max-width: 1000px;
}

.titleInGrid {
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.textInGrid {
  font-size: 1em;
  text-align: center;
  margin: 16px;
  color: #aaa;
}

.resultText {
  text-align: center;
  font-size: 1.8em;
  margin: 25px;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
  }

  .decimalToBinary {
    width: 100%;
  }

  .binaryToDecimal {
    width: 100%;
  }
}
